<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ruskkserv.skkserv</string>
    <key>ProgramArguments</key>
    <array>
        <string>@WAIT_SCRIPT@</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>RUSKKSERV_BIN</key>
        <string>@RUSKKSERV_BIN@</string>
        <key>AZOOKEY_HOST</key>
        <string>127.0.0.1</string>
        <key>AZOOKEY_PORT</key>
        <string>1180</string>
        <key>YASKKSERV2_HOST</key>
        <string>127.0.0.1</string>
        <key>YASKKSERV2_PORT</key>
        <string>1179</string>
        <key>RUST_LOG</key>
        <string>ruskkserv=debug,info</string>
        <key>RUSKKSERV_OKURI_EXPANSION</key>
        <string>@RUSKKSERV_OKURI_EXPANSION@</string>
        <key>RUSKKSERV_CONTEXT_RANKING</key>
        <string>@RUSKKSERV_CONTEXT_RANKING@</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>@LOG_DIR@/ruskkserv.log</string>
    <key>StandardErrorPath</key>
    <string>@LOG_DIR@/ruskkserv.err.log</string>
</dict>
</plist>
